body{
    font-family: Arial;
    background:#0b0f1a;
    color:white;
    margin:0;
}

/* HEADER */
header{
    background:#090d18;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#00d4ff;
}

.busca input{
    padding:10px;
}

.busca button{
    padding:10px;
    cursor:pointer;
    background:#00d4ff;
    border:none;
    color:black;
}

/* FILMES */
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:20px;
}

.card{
    background:#111827;
    margin:10px;
    padding:10px;
    border-radius:10px;
    width:200px;
    cursor:pointer;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    border-radius:10px;
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
}

.modal-content{
    background:#111827;
    margin:5% auto;
    padding:20px;
    width:400px;
    border-radius:10px;
}

.fechar{
    cursor:pointer;
    color:red;
    float:right;
}

/* LINKS */
a{
    color:#00d4ff;
}


