/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CORES */

:root {

    --cor-principal: #F9003D;
    --fundo: #141414;
    --texto: #ffffff;
    --texto-cinza: #aaaaaa;

}



/* BODY */

body {

    background-color: var(--fundo);
    color: var(--texto);
    font-family: 'Roboto', sans-serif;

}



/* HEADER */

.header {

    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.95);
    z-index: 10;

}



.container {

    width: 85%;
    max-width: 1200px;
    margin: auto;

}



.nav-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

}



/* LOGO */

.logo {

    height: 70px;

}



/* MENU */

.menu {

    display: flex;
    list-style: none;
    gap: 25px;

}



.menu a {

    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;

}



.menu a:hover {

    color: var(--cor-principal);

}



/* BANNER */

.banner {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    background-image:

        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.9)
        ),

        url("assets/banner.jpg"),

        url("cinemain.png");


    background-size:
        cover,
        cover,
        80%;

    background-position:
        center,
        center,
        center;

}



/* TEXTO */

.conteudo-banner h1 {

    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;

}



.conteudo-banner p {

    font-size: 24px;
    margin: 10px 0 20px 0;
    color: var(--texto-cinza);

}



/* BUSCA */

.busca{

    display: flex;
    justify-content: center;
    gap: 10px;

}

.busca input {

     width: 450px;   /* largura */
    height: 55px;   /* altura */

    font-size: 18px; /* tamanho do texto */

    border-radius: 8px;
    padding-left: 15px;


}



.busca button {

    height: 55px;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 8px;
    background: var(--cor-principal);
    color: white;
   

}



.busca button:hover {

    background: #c70030;

}



/* RESULTADOS */

.resultado {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;

}



/* CARD */

.card {

    background: #1c1c1c;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;

}



.card:hover {

    transform: scale(1.05);

}



.card img {

    width: 100%;
    border-radius: 10px;

}



.card h3 {

    margin-top: 10px;

}



.card p {

    font-size: 14px;
    color: #ccc;

}

/* RECOMENDAÇÕES */

.recomendacoes {

    padding: 40px;

}

.recomendacoes h2 {

    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;

}


/* TITULO BUSCA */

.titulo-busca {

    margin-left: 20px;
    font-family: 'Bebas Neue', sans-serif;

} 


/* FAZER TEXTO DO RESULTADO APARECER*/

#resultado {
    display: none;
}

#resultado.ativo {
    display: flex;
}

/* MODAL */

.modal {

    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);

}


.modal-content {

    background: #1c1c1c;
    margin: 5% auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;

}


.fechar {

    float: right;
    font-size: 30px;
    cursor: pointer;

}


.modal img {

    width: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;

}


.modal iframe {

    margin-top: 20px;
    width: 100%;
    height: 400px;
}

/*botao de trailer*/
.btn-trailer{

    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:red;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;

}

.btn-trailer:hover{

    background:#cc0000;

}