body{
  font-family: Arial;
  background: linear-gradient(135deg,#00c6ff,#0072ff);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
}

.container{
  background:white;
  padding:25px;
  border-radius:10px;
  text-align:center;
  width:300px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
}

input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  width:100%;
  padding:10px;
  background:#0072ff;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover{
  background:#0055cc;
}

#resultado{
  margin-top:20px;
}
    